{{template "base" .}}

{{define "title"}}Домашняя страница Калмыковой М.А.{{end}}

{{define "main"}}
<h2>Мини-результаты текущего дня</h2>

<p>* Сделана 1 задача. По кнопке получаем таблицу служб, с выбранным статусом.
<br>* Сделана 2 задача. По кнопке меняется значение секции Enabled указанного файла .ini.
<br>* Сделана 3 задача. По кнопке получаем список наименований файлов, модифицированных в указанный промежуток времени.
<br>* Для 4 задачи нашла вариант с выводом информации о системе с помощью os/exec.
</p>

<form method="POST" action="/postform"> <br>
            <label>Введите ваше имя</label><br>
            <input type="text" name="username" /><br><br>
            <input type="submit" value="Отправить" />
        </form>
{{end}}
