{{template "base" .}}

{{define "title"}}Домашняя страница Калмыковой М.А.{{end}}

{{define "main"}}
<h2>Мини-результаты текущего дня</h2>

<p>1. Создано хранилище записей, в которое можно добавлять элементы
<br>2. Добавлены и усовершенствованы некоторые обработчики запросов
<br>3. Начат процесс разработки простенького Rest API</p>

<form method="POST" action="postform"> <br>
            <label>Введите ваше имя</label><br>
            <input type="text" name="username" /><br><br>
            <input type="submit" value="Отправить" />
        </form>
{{end}}
